<!-- {%PASO 9} -->

div(class=['ui', 'red', 'segment', 'menu'])
  a(class=['red','item'], href='http://localhost:3000/')= 'Inicio'
  a(class='item' href='http://localhost:3000/nuevo')= 'Nuevo Producto'
  a(class='item' href='http://localhost:3000/productos')= 'Ver Productos'
  div(class=['right', 'menu'])
    div(class='item')
      div(class=['ui', 'transparent', 'icon', 'input'])
        input(type='text' placeholder='Search...')
        i(class=['search', 'link','red','icon'])
